*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    text-decoration: none;
}

.container{
    max-width: 1070px;
    padding: 0px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    overflow: hidden;
}

/* header, footer */
.header, .footer{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0px 47px 0px;
}

.footer{
    padding: 53px 0px;
}

/* navigation */
.topnav a{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
}

.topnav a:not(:first-of-type){
    margin-left: 49.32px;
}

.topnav a:hover{
    color: black;
    transition: 300ms;
}

.topnav .icon{
    display: none;
}
/* buttons */
.button{
    width: 212.39px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button__orange{
    background: rgba(255, 113, 67, 1);
}

.button__violet{
    background: rgba(84, 84, 212, 1);
}

.button__transparent{
    background: none;
    color: rgba(84, 84, 212, 1);
    border: 1px solid rgba(84, 84, 212, 1);
    margin-left: 35px;
}

.button__grey{
    width: 285px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    color: #5454D4;
    margin: auto 24px 2px;

}

.button__darkorange{
    width: 285px;
    background: #9F3919;
    color: #FFFFFF;
    margin: auto 24px;
}

/* about */ 
.about{
    margin: 104px auto 85px;
}

.about__title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467.24px;
    margin-bottom: 30px;
}

.about__text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464.21px;
    margin-bottom: 50px;
}

/* feedback */
.feedback{
    margin: 0px auto 85px;
}

.feedback__title{
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    max-width: 556px;
    margin-bottom: 38px;
}

.input{
    width: 302px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    background: none;
    border: 1px solid rgba(112, 135, 255, 1);
    border-radius: 10px;
    margin-right: 39px;
    outline: 0;
    padding: 0 14px ;
}

.input::placeholder{
    color: rgba(112, 135, 255, 1);
}

/* price */
.price{
    margin-bottom: 132px;
}

.price__title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 98px;
}

.tariffs{
    display: flex;
}

.tariff{
    width: 330px;
    height: 441px;
    background: rgba(248, 248, 248, 1);
    border-radius: 10px;
}

.tariff__premium{
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    margin: auto 40px;
}

.tariff__name{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
    padding-top: 34px;
}

.tariff__price{
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    padding-top: 22px;
}

.tariff__price span{
    font-size: 28px;
}

.tariff__about{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #696871;
    padding-top: 28px;
    padding-bottom: 38px;
}

.white{
    color: white;
}

/* adaptive */
@media (max-width: 767px) {
    .button__orange{
        display: none;
    }
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
        color:black;
        font-size: 23px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    .header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: right;
        margin-left: auto;
    }
}